#ignore data folders for containers
/services/
/config/
/backups/
/media/
/Downloads/
/downloads/
/Movies/
/Music/
/TVseries/
/TransmissionWathFolder/
/TVrecordings/
docker-compose.yml
.outofdate
downloads
